# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo


ajay

# Virtual environment
venv/
env/
venv311/
.venv/

# Logs
*.log
smart_specs.log

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Distribution / Build
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env
.env.local
